<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
        <link rel="icon" href='/profilesite/public/stylesheets/myLogo.jpeg' >

        {{!-- <link href="index.css" type="text/css" rel="stylesheet"/> --}}
    </head>
    <body>
        <header id="home">
      <nav id="nav" aria-label="Main menu">
        <div class="logo">
          <h3>Umang Jain</h3>
        </div>

        <ul class="links">
          <li>
            <a href="/" class="link"><i class="fas fa-home"></i> Home</a>
          </li>
          <li>
            <a href="/about" class="link"><i class="fas fa-user"></i> About</a>
          </li>
          <li>
            <a href="/skills" class="link"><i class="fas fa-tools"></i> Resume</a>
          </li>
          <li>
            <a href="/projects" class="link"><i class="fab fa-codepen"></i> Projects</a>
          </li>
          {{!-- <div class="color-toggle-container">
            <input type="checkbox" id="color-toggle-input" />
            <label for="color-toggle-input" class="color-toggle-label">
              <div class="color-toggle"></div>
            </label>
          </div> --}}
        </ul>
        <img src='/profilesite/public/stylesheets/myLogo.jpeg' alt="Profile Logo">
        <div class="hamburger-menu" id="hamburger-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
    </body>
    {{!-- <body>
      <div>
        <h2>Hello I am a sophomore at TBD</h2>
      </div>
    </body> --}}
</html>