@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  --red: #e44e58;
  --dark-red: #e43956c4;
  --blue: #0077b5;
  --gray: rgb(170, 170, 170);
  --dark-gray: #181a1b;
  --dark-blue: #002333;
  --text-color: #fff;
  --lighter-text: rgb(219, 219, 219);
  --card-background: #2e3031;
  --skills-span: rgb(200, 200, 200);
}

.light-mode {
  --gray: rgb(107, 107, 107);
  --dark-gray: white;
  --text-color: #000;
  --lighter-text: rgb(37, 37, 37);
  --card-background: #eeeeee;
  --skills-span: rgb(61, 61, 61);
}

.projectcontainer {
  height: 90vh;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px 10px; 
}

.cell {
  color: rgb(232, 153, 153);
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
}

.cell-1 { 
  grid-row: 2;  
}

.resume{
position: relative;
top: 100px;
left: 250px;
}

a {
  color: #00B7FF;
}
body {
  background-color: #000000;
  font-family: px_sans_nouveauxregular;
  line-height: 36px;   /* within paragraph */
  margin-bottom: 30px; /* between paragraphs */
}
h1 {
  text-align: center;
  color: teal;
  text-transform: capitalize;
  font-weight: bold;
  font-style: bold;
  font-size: 30vw;
  /* display: inline-block;
  margin-left: center;
  margin-right: center;
  left: 325px;
  top: 10px; */
  /* position: relative; */

}


h2{
  color: white;
  font-style: bold;
}

h3 {
  font-weight: bold;
  font-style: bold;
  font-size: 30px;
}

h6{
  color: blueviolet;
}

.typewriter h1{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .5s step-end infinite;
  font-family: 'Anton-Regular';
  font-size: 5vw;
  text-align: center;
  position:relative;
  bottom: -200px;
  
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

header nav {
  z-index: 100;
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 6vh;
  -webkit-animation: nav-links 0.5s;
          animation: nav-links 0.5s;
}

.topnav {
  background-color: #a30721;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: #4395bb;
}


.topnav active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: inline-block;
}

header nav .logo {
  color: teal;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header nav .logo span {
  color: white;
}

header nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50rem;
  max-width: 50%;
  min-width: 30%;
  z-index: 1000;
}

header nav .links li {
  list-style: none;
}

header nav .links a {
  color: darkred;
  text-decoration: none;
  letter-spacing: 2px;
}

header nav .links .link::after {
  content: "";
  position: relative;
  display: block;
  width: 0;
  height: 4px;
  background: whitesmoke;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

header nav .links .link:hover::after {
  width: 100%;
}

header nav .hamburger-menu {
  display: none;
  cursor: pointer;
}

header nav .hamburger-menu div {
  background-color: violet;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 25px;
  height: 3px;
  margin: 5px;
}

p{
  color: #f2f2f2;
  text-align: center;
}

iframe{
  height: 300px;
  width: 400px;
}

.resume iframe{
  height: 700px;
  width: 800px;
}
.socials {
  position:relative;
  bottom: -200px;
  text-align: center;
  color: #f2f2f2;
}


li{
  display: inline-block;
  padding:50px;
}

.color-toggle-label {
  margin: -0.2rem;
  width: 3rem;
  height: 1.6rem;
  border-radius: 25px;
  color: blue;
  position: absolute;
  cursor: pointer;
  transition: 0.2s ease;
}

.color-toggle {
  width: 1.2em;
  height: 1.2em;
  background: var(--dark-gray);
  position: absolute;
  border-radius: 50%;
  top: 0.18rem;
  left: 0.18rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.color-toggle-label::before {
  content: "🌚";
  /* position: absolute;
  bottom: 0.25rem;
  left: 0.2rem;
  z-index: 1000; */
  font-size: 0.9rem;
}

.color-toggle-label::after {
  content: "🌞";
  /* position: absolute; */
  bottom: 0.25rem;
  right: 0.2rem;
  z-index: 1000;
  font-size: 0.9rem;
}

#color-toggle-input {
  display: none;
}

#color-toggle-input:checked ~ label .color-toggle {
  transform: translateX(1.4rem);
}

/* project-section */

.project-section{
  width: 100%;
  min-height: 100vh;
  padding: 150px 100px 100px;
  position: fixed;
  top: 0;
  transition: 1s;
  opacity: 0;
}

.project-heading{
  font-size: 100px;
  background: #252525;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 150px;
  color: #1b6c87;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 8px transparent;
}

.project-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}

.project-card{
  height: 400px;
  position: relative;
}

.project-img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: .5s;
}

.project-content{
  position: relative;
  padding: 40px;
  color: #fff;
  transition: .5s;
  opacity: 0;
}

.project-title{
  font-size: 50px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
}

.project-info{
  margin: 40px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.project-btn-grp{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.project-btn{
  height: 40px;
  text-transform: capitalize;
  font-size: 18px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.project-btn.live{
  background: none;
  border: 2px solid #fff;
}

.project-card:hover .project-img{
  filter: blur(20px);
}

.project-card:hover .project-content{
  opacity: 1;
}

/* about-section */

.about-section{
  width: 100%;
  min-height: 100vh;
  padding: 150px 100px 0;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: 1s;
}

.about{
  width: 100%;
  display: grid;
  grid-template-columns: 30% 55%;
  grid-gap: 40px;
  position: absolute;
  top: 20vh;
}

.about-img-container{
  position: relative;
}

.about-info{
  color: #fff;
  opacity: 0.6;
  font-size: 20px;
  line-height: 40px;
}

.about-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.download-cv-btn{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  color: #fff;
  border: none;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  transition: .5s;
  background: rgba(0, 0, 0, 0.5);
}

.download-cv-btn:hover{
  background: #000;
}

skill-section{
  position: relative;
  margin: 100px 0;
}

.heading{
  text-align: center;
  font-size: 60px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 100px;
}

.skills-container{
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  color: #fff;
}

.skill-card{
  position: relative;
}

.skill-img{
  display: block;
  margin: auto;
  height: 200px;
}

.skill-name{
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
  margin: 30px 0 20px;
}

.skill-info{
  text-align: center;
  opacity: 0.5;
  font-size: 18px;
  line-height: 30px;
}

.skill-level{
  position: absolute;
  top: 80px;
  right: 0;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 50%;
  border: 10px solid;
}

.skill-card:nth-child(1) .skill-level{
  background: #ff4f4f28;
  border-color: #ff4f4f;
  color: #ff4f4f;
}

.skill-card:nth-child(2) .skill-level{
  background: #4fa0ff28;
  border-color: #4fa0ff;
  color: #4fa0ff;
}

.skill-card:nth-child(3) .skill-level{
  background: #ffed4f28;
  border-color: #ffed4f;
  color: #ffed4f;
}

.skill-card:nth-child(4) .skill-level{
  background: #52ff4f28;
  border-color: #52ff4f;
  color: #52ff4f;
}

.skill-card:nth-child(5) .skill-level{
  background: #4fdfff28;
  border-color: #4fdfff;
  color: #4fdfff;
}
